<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drop Masterclass - Thanks page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/thanks.css') }}">
</head>
<body>
    <main class="p-3 d-flex align-items-center justify-content-center flex-column">
        <h1 class="text-center">
            <span>Obrigado!</span>
            <strong>{{ client }}</strong>
            <i class="bi bi-emoji-laughing-fill"></i>
        </h1>
        <p class="text-center">Obrigado pela sua confiança, esperamos te ver no treinamento. Agora você tem acesso ao <strong>Drop Masterclass</strong> clicando no botão abaixo!</p>
        <button type="button" onclick="window.alert('Não tem treinamento isso é só uma simulação. Espero que não colocaste os teus dados bancários de verdade :)')">
            <i class="bi bi-person-fill-up"></i>
            <span>Acessar curso</span>
        </button>
    </main>
    <footer class="px-2 pt-4 pb-2">
        <p>
            <span>Copyright &copy; 2024</span>
            <br>
            <span><strong>Manassés Ndombele</strong> Dev & Copywritter freelancer</span>
        </p>
    </footer>
</body>
</html>
